@model SurveyME.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="card account-card shadow bg-body rounded">
    <div class="card-body account-card-body">
        <h5 class="account-card-title">@ViewBag.Title</h5>
        <h6 class="account-card-subtitle">Enter your email to reset your password</h6>

        <div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="account-textbox-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control, account-textboxes", placeholder = "Email Address" })
                    </div>

                    <div>
                        <button type="button" class="btn btn-success btn-lg account-button">Send Email</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
